.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
}

.box {
    width: 100%;
    max-width: 600px;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.loading, .emptyData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    font-size: 16px;
    color: #666;
}

.loading {
    font-size: 18px;
}
